# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

#log files
*.log


#bak files
~*
*.bak

#temp files
*.tmp

*.xmp

node_modules
/src/public

# Lighthouse reports
*.report.json
*.report.html
desktop.jpg
mobile.jpg

# Screenshots
???x???.jpg
????x???.jpg
???x????.jpg
????x????.jpg
