<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content='{{ .Site.Params.Description }}'/>
    <meta name="author" content='{{ .Site.Params.Author }}'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.11/dist/css/uikit.min.css"
          integrity="sha256-XP1nMbaNkpaqweVWm6VOZuwmiqRKXeI9fvXXU7JqXgc=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{"favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{"favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{"site.webmanifest" | relURL }}">
    <link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Orientation Test">
    <meta name="application-name" content="Orientation Test">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:image" content="{{ "images/cover.jpg" | absURL}}">
    <link property="image" href="{{ "images/cover.jpg" | absURL}}" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.11/dist/js/uikit.min.js"
            async
            integrity="sha256-6APb/Kno+RRKAnlMzJzlJMyXQij6e9mU4Ru5N37HQvk=" crossorigin="anonymous"></script>
    <script async src="{{ "js/code.js" | relURL}}"></script>
    <title>{{ .Site.Title }}</title>
</head>
<body>
<div class="uk-section uk-light">
    <div class="uk-container">
        <p class="uk-text-right">
            <a href="https://github.com/rvalitov/screen-orientation-test" target="_blank" >
                <img src="{{ "images/github-mark-white.svg" | relURL}}" width="48" height="48" alt="GitHub logo">
            </a>
        </p>
        <h1 class="uk-h1 uk-text-center uk-margin-top">{{ .Site.Title }}</h1>
        <p>
            This page tests if your browser can report active device screen orientation and if it's possible to change
            and lock the screen orientation programmatically with JS.
            We use two methods to obtain lock: old deprecated function
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Screen/lockOrientation" target="_blank">
                screen.lockOrientation
            </a>
            (and screen.mozLockOrientation, screen.msLockOrientation if available)
            and new function
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/ScreenOrientation/lock" target="_blank">
                ScreenOrientation.lock
            </a>.
        </p>
        <p class="uk-text-center">
            How to test?
        </p>
        <ol>
            <li>Rotate your device in hands, the page should detect screen orientation change and display current state.
            <li>Try to change the screen orientation programmatically by clicking the buttons with the desired screen
                orientation. Please note that not all orientation types may be supported by your device. Probably it
                will not work if you're not in fullscreen mode.
            </li>
            <li>Try clicking fullscreen mode button. Most modern browsers require fullscreen mode activated to allow
                rotations.
            </li>
            <li>Try different browsers. The results can vary a lot.</li>
            <li>Install the website as an app (PWA) and try the previous steps.</li>
        </ol>
        <p>
            Source code and test instructions are in <a href="https://github.com/rvalitov/screen-orientation-test" target="_blank">GitHub</a>.
        </p>
        <form class="uk-text-center uk-margin">
            <div>
                <label class="uk-form-label" for="browserVersion">
                    Your browser version
                </label>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large uk-text-center" id="browserVersion" type="text" readonly>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="activeOrientation">
                    Current screen orientation
                </label>
            </div>
            <div>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-medium uk-text-center" id="activeOrientation" type="text" readonly>
                </div>
            </div>
            <div class="uk-margin">
                Browser fullscreen mode is <span id="fullscreen-support">&nbsp;</span>
            </div>
            <div class="uk-margin">
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-primary" onclick="toggleFullscreenMode(); return false;">Enable/disable fullscreen mode</button>
                </div>
            </div>
            <div class="uk-margin">
                Select orientation to change and lock
            </div>
            <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-grid-match uk-child-width-1-2 uk-width-xlarge uk-grid-small" uk-grid>
                    {{ range $collection:=(sort .Site.Data.orientations ".weight" "asc") }}
                    {{if . }}
                    <a onclick="lockOrientation('{{.id}}')" class="uk-link-reset">
                        <div id="{{.id}}" class="uk-card uk-card-body uk-card-default">
                            <div>
                                <img src="{{ "images/phone.jpg" | relURL}}" class="phone"
                                     alt="phone orientation {{.id}}"
                                     style="transform: rotate({{.rotation}}deg)"
                                     width="528"
                                     height="528"
                                >
                            </div>
                            <div class="uk-text-center">
                                {{.title}}
                            </div>
                        </div>
                    </a>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{"service-worker.js" | relURL }}');
    }
</script>
</body>
</html>
